Repository amakarudze/to-do, pull requests merged in 2025-02, with the labels that each got.

#14 Add test folder structure
  tests/__init__.py
  tests/conftest.py
  tests/integration_tests/__init__.py
  tests/system_tests/__init__.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_views.py
Labels: repo

#15 Setup ci
  .github/labeler.yml
  .github/workflows/github-docker-registry-push.yml
  .github/workflows/plugin-update.yml
  .github/workflows/release-drafter.yml
  .github/workflows/test-jenkins.yml
  .github/workflows/updatecli.yml
  .gitignore
  Dockerfile
  build-docker-compose.yml
  docker-compose.yml
  docker-ignore
  docker-versions.txt
  dockerfiles/Dockerfile
  dockerfiles/Jenkinsfile
  dockerfiles/agent-discovery/Dockerfile
  dockerfiles/agent-discovery/find-name.sh
  dockerfiles/jobs/(simple) job demo/config.xml
  dockerfiles/plugins.txt
  dockerfiles/python/Dockerfile
  dockerfiles/side-kick/Dockerfile
  dockerfiles/side-kick/keygen.sh
  dockerfiles/update-plugins.sh
  jenkins/Jenkinsfile
  updatecli/scripts/docker-compose-version.sh
  updatecli/scripts/docker-version.sh
  updatecli/scripts/jenkins-lts.sh
  updatecli/updatecli.d/debian.yaml
  updatecli/updatecli.d/docker.yaml
  updatecli/updatecli.d/jenkins-lts.yaml
  updatecli/updatecli.d/ssh-agent.yaml
  updatecli/values.github-action.yaml
Labels: repo, python_project

#16 Restructure project
  to-do/.github/.workflows/coverage.yml
  to-do/.github/.workflows/ruff.yml
  to-do/.sample_env
  to-do/Dockerfile
  to-do/Jenkinsfile
  to-do/LICENSE
  to-do/README.md
  to-do/app/__init__.py
  to-do/app/asgi.py
  to-do/app/settings.py
  to-do/app/urls.py
  to-do/app/wsgi.py
  to-do/manage.py
  to-do/poetry.lock
  to-do/poetry.toml
  to-do/pyproject.toml
  to-do/pytest.ini
  to-do/tests/__init__.py
  to-do/tests/conftest.py
  to-do/tests/integration_tests/__init__.py
  to-do/tests/system_tests/__init__.py
  to-do/tests/test_app.py
  to-do/tests/unit_tests/__init__.py
  to-do/tests/unit_tests/test_views.py
Labels: repo

#17 Delete old files
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .sample_env
  Dockerfile
  Jenkinsfile
  LICENSE
  README.md
  app/__init__.py
  app/asgi.py
  app/settings.py
  app/urls.py
  app/wsgi.py
  manage.py
  poetry.lock
  poetry.toml
  pyproject.toml
  pytest.ini
  tests/__init__.py
  tests/conftest.py
  tests/integration_tests/__init__.py
  tests/system_tests/__init__.py
  tests/test_app.py
  tests/unit_tests/__init__.py
  tests/unit_tests/test_views.py
  to-do/tests/unit_tests/test_views.py
Labels: repo, coverage

#18 Test new folder structure
  .env
  .github/workflows/coverage.yml
  .github/workflows/ruff.yml
  .gitignore
  to-do/tests/unit_tests/test_views.py
Labels: repo, coverage

#20 ruff suppress
  to-do/pyproject.toml
Labels: repo

#21 Remove failing action job
  .github/workflows/plugin-update.yml
Labels: repo

#22 Add tasks app and homepage view
  to-do/app/settings.py
  to-do/app/urls.py
  to-do/poetry.lock
  to-do/pyproject.toml
  to-do/tasks/__init__.py
  to-do/tasks/admin.py
  to-do/tasks/apps.py
  to-do/tasks/migrations/__init__.py
  to-do/tasks/models.py
  to-do/tasks/urls.py
  to-do/tasks/views.py
  to-do/templates/tasks/index.html
  to-do/tests/test_app.py
  to-do/tests/unit_tests/test_tasks/__init__.py
  to-do/tests/unit_tests/test_tasks/test_views.py
  to-do/tests/unit_tests/test_views.py
Labels: repo

#23 TDD for Register user
  to-do/accounts/__init__.py
  to-do/accounts/admin.py
  to-do/accounts/apps.py
  to-do/accounts/migrations/__init__.py
  to-do/accounts/models.py
  to-do/accounts/urls.py
  to-do/accounts/views.py
  to-do/app/settings.py
  to-do/app/urls.py
  to-do/templates/accounts/register.html
  to-do/tests/unit_tests/test_accounts/__init__.py
  to-do/tests/unit_tests/test_accounts/test_forms.py
  to-do/tests/unit_tests/test_accounts/test_views.py
Labels: repo

#24 Add Task model
  to-do/tasks/admin.py
  to-do/tasks/migrations/0001_initial.py
  to-do/tasks/models.py
  to-do/tests/conftest.py
  to-do/tests/unit_tests/test_tasks/test_forms.py
  to-do/tests/unit_tests/test_tasks/test_models.py
Labels: repo
