Repository amakarudze/to-do, pull requests merged in 2025-03, with the labels that each got.

#28 jenkins setup
  to-do/Jenkinsfile
  to-do/pyproject.toml
Labels: repo

#30 Jenkins file path
  Jenkinsfile
Labels: repo

#29 Update coverage workflow
  .github/workflows/coverage.yml
Labels: repo, coverage

#31 jenkins path changes
  Jenkinsfile
Labels: repo

#33 undo cd to-do
  Jenkinsfile
Labels: repo

#32 Install poetry to Docker image
  dockerfiles/python/Dockerfile
Labels: repo, app

#36 Add poetry to Docker
  .github/workflows/github-docker-registry-push.yml
  .github/workflows/test-jenkins.yml
  dockerfiles/python/Dockerfile
Labels: repo, app

#37 Remove poetry from jenkinsfile
  Jenkinsfile
  to-do/Jenkinsfile
Labels: repo

#38 Fix tests for Jenkins
  to-do/Jenkinsfile
Labels: repo

#39 Fix tests for Jenkins
  to-do/Jenkinsfile
Labels: repo

#40 Fix tests for Jenkins
  to-do/Jenkinsfile
Labels: repo

#41 Fix tests for Jenkins
  to-do/Jenkinsfile
Labels: repo

#42 Fix tests for Jenkins
  to-do/Jenkinsfile
Labels: repo

#45 Add integration tests setup
  .github/workflows/coverage.yml
  to-do/accounts/forms.py
  to-do/accounts/urls.py
  to-do/app/settings.py
  to-do/app/urls.py
  to-do/pytest.ini
  to-do/static/css/style.css
  to-do/tasks/views.py
  to-do/templates/accounts/login.html
  to-do/templates/tasks/base.html
  to-do/templates/tasks/index.html
  to-do/tests/conftest.py
  to-do/tests/integration_tests/test_view_task.py
  to-do/tests/unit_tests/test_tasks/test_views.py
Labels: repo, coverage

#46 Create Task Test
  to-do/tasks/forms.py
  to-do/tasks/urls.py
  to-do/tasks/views.py
  to-do/templates/tasks/create_task.html
  to-do/tests/conftest.py
  to-do/tests/unit_tests/test_tasks/test_forms.py
  to-do/tests/unit_tests/test_tasks/test_views.py
Labels: repo

#47 Login, logout and view task
  to-do/accounts/urls.py
  to-do/app/settings.py
  to-do/tasks/urls.py
  to-do/tasks/views.py
  to-do/templates/accounts/register.html
  to-do/templates/tasks/base.html
  to-do/templates/tasks/create_task.html
  to-do/templates/tasks/index.html
  to-do/templates/tasks/task.html
  to-do/tests/integration_tests/test_view_task.py
Labels: repo

#52 Delete task with Unit and Integration Test
  to-do/tasks/urls.py
  to-do/tasks/views.py
  to-do/templates/tasks/task.html
  to-do/tests/conftest.py
  to-do/tests/integration_tests/test_delete_user.py
  to-do/tests/unit_tests/test_tasks/test_views.py
Labels: repo

#53 Add selenium service to coverage.yml
  to-do/templates/tasks/base.html
Labels: repo

#54 Add css styling
  .github/workflows/coverage.yml
  to-do/static/css/login.css
  to-do/static/css/style.css
  to-do/templates/tasks/base.html
  to-do/tests/conftest.py
  to-do/tests/integration_tests/test_delete_user.py
Labels: repo, coverage

#57 Fix code coverage badge
  README.md
Labels: repo

#59 integration test fixes
  tests/integration_tests/test_register_user.py
Labels: repo

#60 Fix codecov graph image
  README.md
Labels: repo

#61 Clean up GitHub Actions
  .github/dependabot.yml
  .github/labeler.yml
  .github/release-drafter.yml
  .github/workflows/label.yml
Labels: repo
